<!DOCTYPE html>
<html lang="pt-br" ng-app="balcao">
<head>
    <link rel="icon" href="favicon.ico" />
    <meta charset="utf-8">
    <title ng-bind="tituloPagina">Balcão @Html.Raw(Model.Version) - Drogaria Araujo S.A</title>
    <meta charset="utf-8" />

    <link rel="stylesheet" href="~/Assets/Content/main.css?v=@Html.Raw(Model.Version)" />
    <link rel="stylesheet" href="~/Assets/bootstrap.min.css?v=@Html.Raw(Model.Version)" />

    <link rel="stylesheet" href="~/Assets/Content/Home/produtos.css?v=@Html.Raw(Model.Version)" />
    <link rel="stylesheet" href="~/Assets/Content/Home/orcamento.css?v=@Html.Raw(Model.Version)" />
    <link rel="stylesheet" href="~/Assets/Content/Home/modalInformacao.css?v=@Html.Raw(Model.Version)" />

    <link rel="stylesheet" href="~/Assets/Content/Shared/cabecalho.css?v=@Html.Raw(Model.Version)" />
    <link rel="stylesheet" href="~/Assets/Content/Shared/modalAlertaErro.css?v=@Html.Raw(Model.Version)" />
    <link rel="stylesheet" href="~/Assets/Content/Shared/modalLoading.css?v=@Html.Raw(Model.Version)" />
    <link rel="stylesheet" href="~/Assets/Content/Shared/tituloPagina.css?v=@Html.Raw(Model.Version)" />
    <link rel="stylesheet" href="~/Assets/Content/Shared/notificacao.css?v=@Html.Raw(Model.Version)" />

</head>
<body id="idBody">
    <!-- CONTEUDO -->
    @RenderBody()

    <script type="text/javascript">
        // Variaveis recebidas do servidor
        var GLOBAL_SERVER = {
            WEB_URL: '@Html.Raw(Model.WebUrl)',
            API_URL: '@Html.Raw(Model.ApiUrl)',
            SISTEMA_ONLINE: '@Html.Raw(Model.SistemaOnline)',
            API_ARAUJO_PRODUTOS: '@Html.Raw(Model.ApiAraujoProdutosUrl)',
            API_ARAUJO_FILIAIS: '@Html.Raw(Model.ApiAraujoFiliaisUrl)',
            API_ARAUJO_KITVIRTUAL: '@Html.Raw(Model.ApiAraujoKitVirtualUrl)',
            DATA : new Date(@String.Format("{0:yyyy}", DateTime.Now), @String.Format("{0:MM}", DateTime.Now) - 1, @String.Format("{0:dd}", DateTime.Now)),
            IP_ESTACAO: '@Html.Raw(Model.IpEstacao)',
            VERSAO: '@Html.Raw(Model.Version)',
            LIMPAR_LOCAL_STORAGE: @Html.Raw(Model.LimparLocalStorage)
        };

        console.log(GLOBAL_SERVER);

        if(GLOBAL_SERVER.LIMPAR_LOCAL_STORAGE){
            localStorage.clear();
        }
    </script>

    <!-- Bibliotécas próprias de atalhos -->
    <script src="@Html.Raw(Model.WebUrl)/assets/scripts/araujo-balcao-atalho.js?v=@Html.Raw(Model.Version)" type="text/javascript"></script>
    <script src="@Html.Raw(Model.WebUrl)/assets/scripts/araujo-balcao-leitor-optico.js?v=@Html.Raw(Model.Version)" type="text/javascript"></script>

    <!-- Configuracao do Angular -->
    <script src="@Html.Raw(Model.WebUrl)/assets/scripts/angular.min.js" type="text/javascript"></script>
    <script src="@Html.Raw(Model.WebUrl)/assets/scripts/angular-route.min.js" type="text/javascript"></script>
    <script src="@Html.Raw(Model.WebUrl)/assets/scripts/angular-locale_pt-br.js" type="text/javascript"></script>
    <script src="@Html.Raw(Model.WebUrl)/assets/scripts/bugsnag-3.min.js" type="text/javascript"></script>
    <script src="@Html.Raw(Model.WebUrl)/modules/app-module.js?v=@Html.Raw(Model.Version)" type="text/javascript"></script>
    <script src="@Html.Raw(Model.WebUrl)/modules/shared/balcao-config.js?v=@Html.Raw(Model.Version)" type="text/javascript"></script>
    <script src="@Html.Raw(Model.WebUrl)/modules/shared/interceptor.js?v=@Html.Raw(Model.Version)" type="text/javascript"></script>
    <script src="@Html.Raw(Model.WebUrl)/modules/shared/util.js?v=@Html.Raw(Model.Version)" type="text/javascript"></script>
    <script src="@Html.Raw(Model.WebUrl)/modules/shared/balcao-storage.js?v=@Html.Raw(Model.Version)" type="text/javascript"></script>
    <script src="@Html.Raw(Model.WebUrl)/modules/shared/balcao-enum.js?v=@Html.Raw(Model.Version)" type="text/javascript"></script>
    <script src="@Html.Raw(Model.WebUrl)/modules/shared/navegacao-tabela.js?v=@Html.Raw(Model.Version)" type="text/javascript"></script>
    <script src="@Html.Raw(Model.WebUrl)/modules/shared/elemento-ativo.js?v=@Html.Raw(Model.Version)" type="text/javascript"></script>
    <script src="@Html.Raw(Model.WebUrl)/modules/shared/eventos.js?v=@Html.Raw(Model.Version)" type="text/javascript"></script>
    <script src="@Html.Raw(Model.WebUrl)/modules/shared/atalhos.js?v=@Html.Raw(Model.Version)" type="text/javascript"></script>
    <script src="@Html.Raw(Model.WebUrl)/modules/shared/kitvirtual.js?v=@Html.Raw(Model.Version)" type="text/javascript"></script>

    <script src="@Html.Raw(Model.WebUrl)/assets/scripts/angular-ui/mask.js" type="text/javascript"></script>

    @*<script src="~/Assets/Scripts/angular-ui/ui-bootstrap.js" type="text/javascript"></script>*@

    <!-- TELA HOME -->
    <!-- Modulo Home -->
    <script src="@Html.Raw(Model.WebUrl)/modules/home/home-module.js?v=@Html.Raw(Model.Version)" type="text/javascript"></script>
    <script src="@Html.Raw(Model.WebUrl)/modules/home/home-service.js?v=@Html.Raw(Model.Version)" type="text/javascript"></script>
    <script src="@Html.Raw(Model.WebUrl)/modules/home/home-router.js?v=@Html.Raw(Model.Version)" type="text/javascript"></script>
    <script src="@Html.Raw(Model.WebUrl)/modules/home/home-controller.js?v=@Html.Raw(Model.Version)" type="text/javascript"></script>

    <!-- Modulo de Produtos -->
    <script src="@Html.Raw(Model.WebUrl)/modules/home/produto/produto-module.js?v=@Html.Raw(Model.Version)" type="text/javascript"></script>
    <script src="@Html.Raw(Model.WebUrl)/modules/home/produto/produto-service.js?v=@Html.Raw(Model.Version)" type="text/javascript"></script>
    <script src="@Html.Raw(Model.WebUrl)/modules/home/produto/produto-router.js?v=@Html.Raw(Model.Version)" type="text/javascript"></script>
    <script src="@Html.Raw(Model.WebUrl)/modules/home/produto/produto-controller.js?v=@Html.Raw(Model.Version)" type="text/javascript"></script>

    <!-- Modulo de Orcamento -->
    <script src="@Html.Raw(Model.WebUrl)/modules/home/orcamento/orcamento-module.js?v=@Html.Raw(Model.Version)" type="text/javascript"></script>
    <script src="@Html.Raw(Model.WebUrl)/modules/home/orcamento/orcamento-service.js?v=@Html.Raw(Model.Version)" type="text/javascript"></script>
    <script src="@Html.Raw(Model.WebUrl)/modules/home/orcamento/orcamento-router.js?v=@Html.Raw(Model.Version)" type="text/javascript"></script>
    <script src="@Html.Raw(Model.WebUrl)/modules/home/orcamento/orcamento-controller.js?v=@Html.Raw(Model.Version)" type="text/javascript"></script>

    <!-- Modulo de Modal de Informação -->
    <script src="@Html.Raw(Model.WebUrl)/modules/home/modalinformacao/modalInformacao-module.js?v=@Html.Raw(Model.Version)" type="text/javascript"></script>
    <script src="@Html.Raw(Model.WebUrl)/modules/home/modalinformacao/modalInformacao-directive.js?v=@Html.Raw(Model.Version)" type="text/javascript"></script>
    <script src="@Html.Raw(Model.WebUrl)/modules/home/modalinformacao/modalInformacao-controller.js?v=@Html.Raw(Model.Version)" type="text/javascript"></script>

    <!-- SHARED -->
    <!-- Modulo Cabecalho -->
    <script src="@Html.Raw(Model.WebUrl)/modules/shared/cabecalho/cabecalho-module.js?v=@Html.Raw(Model.Version)" type="text/javascript"></script>
    <script src="@Html.Raw(Model.WebUrl)/modules/shared/cabecalho/cabecalho-service.js?v=@Html.Raw(Model.Version)" type="text/javascript"></script>
    <script src="@Html.Raw(Model.WebUrl)/modules/shared/cabecalho/cabecalho-directive.js?v=@Html.Raw(Model.Version)" type="text/javascript"></script>
    <script src="@Html.Raw(Model.WebUrl)/modules/shared/cabecalho/cabecalho-controller.js?v=@Html.Raw(Model.Version)" type="text/javascript"></script>

    <!-- Modulo de Modal de Alertas e Erros -->
    <script src="@Html.Raw(Model.WebUrl)/modules/shared/modalalertaerro/modalAlertaErro-module.js?v=@Html.Raw(Model.Version)" type="text/javascript"></script>
    <script src="@Html.Raw(Model.WebUrl)/modules/shared/modalalertaerro/modalAlertaErro-directive.js?v=@Html.Raw(Model.Version)" type="text/javascript"></script>
    <script src="@Html.Raw(Model.WebUrl)/modules/shared/modalalertaerro/modalAlertaErro-controller.js?v=@Html.Raw(Model.Version)" type="text/javascript"></script>

    <!-- Modulo de Modal de Loading -->
    <script src="@Html.Raw(Model.WebUrl)/modules/shared/modalloading/modalLoading-module.js?v=@Html.Raw(Model.Version)" type="text/javascript"></script>
    <script src="@Html.Raw(Model.WebUrl)/modules/shared/modalloading/modalLoading-directive.js?v=@Html.Raw(Model.Version)" type="text/javascript"></script>
    <script src="@Html.Raw(Model.WebUrl)/modules/shared/modalloading/modalLoading-controller.js?v=@Html.Raw(Model.Version)" type="text/javascript"></script>

    <!-- Diretiva titulo página -->
    <script src="@Html.Raw(Model.WebUrl)/modules/shared/titulopagina/tituloPagina-directive.js?v=@Html.Raw(Model.Version)" type="text/javascript"></script>

    <!-- Diretiva leitura ótica -->
    <script src="@Html.Raw(Model.WebUrl)/modules/shared/leituraotica/leituraOtica-directive.js?v=@Html.Raw(Model.Version)" type="text/javascript"></script>

    <!-- Diretiva campo busca -->
    <script src="@Html.Raw(Model.WebUrl)/modules/shared/campobusca/campoBusca-directive.js?v=@Html.Raw(Model.Version)" type="text/javascript"></script>

    <!-- Diretiva Notificação -->
    <script src="@Html.Raw(Model.WebUrl)/modules/shared/notificacao/notificacao-directive.js?v=@Html.Raw(Model.Version)" type="text/javascript"></script>
    
    <!-- Diretiva Checkbox -->
    <script src="@Html.Raw(Model.WebUrl)/modules/shared/checkbox/checkbox-directive.js?v=@Html.Raw(Model.Version)" type="text/javascript"></script>

</body>
</html>