<!DOCTYPE html>
<html lang="pt-br" ng-app="tccenter">
<head>
    <meta charset="utf-8">
    <title>TCCenter</title>
    <meta charset="utf-8" />

    <link rel="stylesheet" href="~/Assets/Content/main.css?v=@Html.Raw(Model.Version)" />
    <link rel="stylesheet" href="~/Assets/bootstrap.min.css?v=@Html.Raw(Model.Version)" />

    <link rel="stylesheet" href="~/Assets/Content/Home/produtos.css?v=@Html.Raw(Model.Version)" />
    <link rel="stylesheet" href="~/Assets/Content/Home/orcamento.css?v=@Html.Raw(Model.Version)" />
    <link rel="stylesheet" href="~/Assets/Content/Home/modalInformacao.css?v=@Html.Raw(Model.Version)" />
    <link rel="stylesheet" href="~/Assets/Content/Home/modalCadastroPublicacao.css?v=@Html.Raw(Model.Version)" />

    <link rel="stylesheet" href="~/Assets/Content/Shared/cabecalho.css?v=@Html.Raw(Model.Version)" />
    <link rel="stylesheet" href="~/Assets/Content/Shared/informacaoPerfil.css?v=@Html.Raw(Model.Version)" />
    <link rel="stylesheet" href="~/Assets/Content/Shared/modalAlertaErro.css?v=@Html.Raw(Model.Version)" />
    <link rel="stylesheet" href="~/Assets/Content/Shared/modalLoading.css?v=@Html.Raw(Model.Version)" />
    <link rel="stylesheet" href="~/Assets/Content/Shared/modalSucesso.css?v=@Html.Raw(Model.Version)" />
    <link rel="stylesheet" href="~/Assets/Content/Shared/tituloPagina.css?v=@Html.Raw(Model.Version)" />
    <link rel="stylesheet" href="~/Assets/Content/Shared/notificacao.css?v=@Html.Raw(Model.Version)" />

</head>
<body id="idBody">
    <!-- CONTEUDO -->
    @RenderBody()

    <script type="text/javascript">
        // Variaveis recebidas do servidor
        var GLOBAL_SERVER = {
            WEB_URL: '@Html.Raw(Model.WebUrl)',
            API_URL: '@Html.Raw(Model.ApiUrl)',
            DATA : new Date(@String.Format("{0:yyyy}", DateTime.Now), @String.Format("{0:MM}", DateTime.Now) - 1, @String.Format("{0:dd}", DateTime.Now)),
            VERSAO: '@Html.Raw(Model.Version)',
            LIMPAR_LOCAL_STORAGE: @Html.Raw(Model.LimparLocalStorage)
        };

        console.log(GLOBAL_SERVER);

        if(GLOBAL_SERVER.LIMPAR_LOCAL_STORAGE){
            localStorage.clear();
        }
    </script>

    <!-- Bibliotécas próprias de atalhos -->
    <script src="@Html.Raw(Model.WebUrl)/assets/scripts/araujo-balcao-atalho.js?v=@Html.Raw(Model.Version)" type="text/javascript"></script>
    <!-- Configuracao do Angular -->
    <script src="@Html.Raw(Model.WebUrl)/assets/scripts/angular.min.js" type="text/javascript"></script>
    <script src="@Html.Raw(Model.WebUrl)/assets/scripts/angular-route.min.js" type="text/javascript"></script>
    <script src="@Html.Raw(Model.WebUrl)/assets/scripts/angular-locale_pt-br.js" type="text/javascript"></script>
    <script src="@Html.Raw(Model.WebUrl)/assets/scripts/bugsnag-3.min.js" type="text/javascript"></script>
    <script src="@Html.Raw(Model.WebUrl)/modules/app-module.js?v=@Html.Raw(Model.Version)" type="text/javascript"></script>
    <script src="@Html.Raw(Model.WebUrl)/modules/shared/tccenter-config.js?v=@Html.Raw(Model.Version)" type="text/javascript"></script>
    <script src="@Html.Raw(Model.WebUrl)/modules/shared/interceptor.js?v=@Html.Raw(Model.Version)" type="text/javascript"></script>
    <script src="@Html.Raw(Model.WebUrl)/modules/shared/util.js?v=@Html.Raw(Model.Version)" type="text/javascript"></script>
    <script src="@Html.Raw(Model.WebUrl)/modules/shared/tccenter-storage.js?v=@Html.Raw(Model.Version)" type="text/javascript"></script>
    <script src="@Html.Raw(Model.WebUrl)/modules/shared/balcao-enum.js?v=@Html.Raw(Model.Version)" type="text/javascript"></script>
    <script src="@Html.Raw(Model.WebUrl)/modules/shared/elemento-ativo.js?v=@Html.Raw(Model.Version)" type="text/javascript"></script>
    <script src="@Html.Raw(Model.WebUrl)/modules/shared/atalhos.js?v=@Html.Raw(Model.Version)" type="text/javascript"></script>
    <script src="@Html.Raw(Model.WebUrl)/modules/shared/eventos.js?v=@Html.Raw(Model.Version)" type="text/javascript"></script>

    <script src="@Html.Raw(Model.WebUrl)/assets/scripts/angular-ui/mask.js" type="text/javascript"></script>

    <!-- Modulo Login -->
    <script src="@Html.Raw(Model.WebUrl)/modules/login/login-module.js?v=@Html.Raw(Model.Version)" type="text/javascript"></script>
    <script src="@Html.Raw(Model.WebUrl)/modules/login/login-service.js?v=@Html.Raw(Model.Version)" type="text/javascript"></script>
    <script src="@Html.Raw(Model.WebUrl)/modules/login/login-router.js?v=@Html.Raw(Model.Version)" type="text/javascript"></script>
    <script src="@Html.Raw(Model.WebUrl)/modules/login/login-controller.js?v=@Html.Raw(Model.Version)" type="text/javascript"></script>

    <!-- Modulo Cadastro de Cliente -->
    <script src="@Html.Raw(Model.WebUrl)/modules/cadastroCliente/cadastroCliente-module.js?v=@Html.Raw(Model.Version)" type="text/javascript"></script>
    <script src="@Html.Raw(Model.WebUrl)/modules/cadastroCliente/cadastroCliente-service.js?v=@Html.Raw(Model.Version)" type="text/javascript"></script>
    <script src="@Html.Raw(Model.WebUrl)/modules/cadastroCliente/cadastroCliente-router.js?v=@Html.Raw(Model.Version)" type="text/javascript"></script>
    <script src="@Html.Raw(Model.WebUrl)/modules/cadastroCliente/cadastroCliente-controller.js?v=@Html.Raw(Model.Version)" type="text/javascript"></script>

    <!-- EDITAR PERFIL -->
    <!-- Modulo Editar Perfil -->
    <script src="@Html.Raw(Model.WebUrl)/modules/EditarPerfil/editarPerfil-module.js?v=@Html.Raw(Model.Version)" type="text/javascript"></script>
    <script src="@Html.Raw(Model.WebUrl)/modules/EditarPerfil/editarPerfil-service.js?v=@Html.Raw(Model.Version)" type="text/javascript"></script>
    <script src="@Html.Raw(Model.WebUrl)/modules/EditarPerfil/editarPerfil-router.js?v=@Html.Raw(Model.Version)" type="text/javascript"></script>
    <script src="@Html.Raw(Model.WebUrl)/modules/EditarPerfil/editarPerfil-controller.js?v=@Html.Raw(Model.Version)" type="text/javascript"></script>

    <!-- PERFIL -->
    <!-- Modulo Perfil -->
    <script src="@Html.Raw(Model.WebUrl)/modules/perfil/perfil-module.js?v=@Html.Raw(Model.Version)" type="text/javascript"></script>
    <script src="@Html.Raw(Model.WebUrl)/modules/perfil/perfil-service.js?v=@Html.Raw(Model.Version)" type="text/javascript"></script>
    <script src="@Html.Raw(Model.WebUrl)/modules/perfil/perfil-router.js?v=@Html.Raw(Model.Version)" type="text/javascript"></script>
    <script src="@Html.Raw(Model.WebUrl)/modules/perfil/perfil-controller.js?v=@Html.Raw(Model.Version)" type="text/javascript"></script>

    <!-- PESQUISA -->
    <!-- Modulo Pesquisa -->
    <script src="@Html.Raw(Model.WebUrl)/modules/pesquisa/pesquisa-module.js?v=@Html.Raw(Model.Version)" type="text/javascript"></script>
    <script src="@Html.Raw(Model.WebUrl)/modules/pesquisa/pesquisa-service.js?v=@Html.Raw(Model.Version)" type="text/javascript"></script>
    <script src="@Html.Raw(Model.WebUrl)/modules/pesquisa/pesquisa-router.js?v=@Html.Raw(Model.Version)" type="text/javascript"></script>
    <script src="@Html.Raw(Model.WebUrl)/modules/pesquisa/pesquisa-controller.js?v=@Html.Raw(Model.Version)" type="text/javascript"></script>

    <!-- Publicacao Compelta -->
    <!-- Modulo Publicacao Completa -->
    <script src="@Html.Raw(Model.WebUrl)/modules/publicacaoCompleta/publicacaoCompleta-module.js?v=@Html.Raw(Model.Version)" type="text/javascript"></script>
    <script src="@Html.Raw(Model.WebUrl)/modules/publicacaoCompleta/publicacaoCompleta-service.js?v=@Html.Raw(Model.Version)" type="text/javascript"></script>
    <script src="@Html.Raw(Model.WebUrl)/modules/publicacaoCompleta/publicacaoCompleta-router.js?v=@Html.Raw(Model.Version)" type="text/javascript"></script>
    <script src="@Html.Raw(Model.WebUrl)/modules/publicacaoCompleta/publicacaoCompleta-controller.js?v=@Html.Raw(Model.Version)" type="text/javascript"></script>

    <!-- HOME -->
    <!-- Modulo Home -->
    <script src="@Html.Raw(Model.WebUrl)/modules/home/home-module.js?v=@Html.Raw(Model.Version)" type="text/javascript"></script>
    <script src="@Html.Raw(Model.WebUrl)/modules/home/home-service.js?v=@Html.Raw(Model.Version)" type="text/javascript"></script>
    <script src="@Html.Raw(Model.WebUrl)/modules/home/home-router.js?v=@Html.Raw(Model.Version)" type="text/javascript"></script>
    <script src="@Html.Raw(Model.WebUrl)/modules/home/home-controller.js?v=@Html.Raw(Model.Version)" type="text/javascript"></script>

    <!-- Modulo de Modal de Alertas e Erros -->
    <script src="@Html.Raw(Model.WebUrl)/modules/home/modalCadastroPublicacao/modalCadastroPublicacao-module.js?v=@Html.Raw(Model.Version)" type="text/javascript"></script>
    <script src="@Html.Raw(Model.WebUrl)/modules/home/modalCadastroPublicacao/modalCadastroPublicacao-directive.js?v=@Html.Raw(Model.Version)" type="text/javascript"></script>
    <script src="@Html.Raw(Model.WebUrl)/modules/home/modalCadastroPublicacao/modalCadastroPublicacao-service.js?v=@Html.Raw(Model.Version)" type="text/javascript"></script>
    <script src="@Html.Raw(Model.WebUrl)/modules/home/modalCadastroPublicacao/modalCadastroPublicacao-controller.js?v=@Html.Raw(Model.Version)" type="text/javascript"></script>

    <!-- SHARED -->
    <!-- Modulo Cabecalho -->
    <script src="@Html.Raw(Model.WebUrl)/modules/shared/cabecalho/cabecalho-module.js?v=@Html.Raw(Model.Version)" type="text/javascript"></script>
    <script src="@Html.Raw(Model.WebUrl)/modules/shared/cabecalho/cabecalho-service.js?v=@Html.Raw(Model.Version)" type="text/javascript"></script>
    <script src="@Html.Raw(Model.WebUrl)/modules/shared/cabecalho/cabecalho-directive.js?v=@Html.Raw(Model.Version)" type="text/javascript"></script>
    <script src="@Html.Raw(Model.WebUrl)/modules/shared/cabecalho/cabecalho-controller.js?v=@Html.Raw(Model.Version)" type="text/javascript"></script>

    <!-- Modulo Rodape -->
    <script src="@Html.Raw(Model.WebUrl)/modules/shared/rodape/rodape-module.js?v=@Html.Raw(Model.Version)" type="text/javascript"></script>
    <script src="@Html.Raw(Model.WebUrl)/modules/shared/rodape/rodape-service.js?v=@Html.Raw(Model.Version)" type="text/javascript"></script>
    <script src="@Html.Raw(Model.WebUrl)/modules/shared/rodape/rodape-directive.js?v=@Html.Raw(Model.Version)" type="text/javascript"></script>
    <script src="@Html.Raw(Model.WebUrl)/modules/shared/rodape/rodape-controller.js?v=@Html.Raw(Model.Version)" type="text/javascript"></script>

    <!-- Modulo de Modal de Alertas e Erros -->
    <script src="@Html.Raw(Model.WebUrl)/modules/shared/modalalertaerro/modalAlertaErro-module.js?v=@Html.Raw(Model.Version)" type="text/javascript"></script>
    <script src="@Html.Raw(Model.WebUrl)/modules/shared/modalalertaerro/modalAlertaErro-directive.js?v=@Html.Raw(Model.Version)" type="text/javascript"></script>
    <script src="@Html.Raw(Model.WebUrl)/modules/shared/modalalertaerro/modalAlertaErro-controller.js?v=@Html.Raw(Model.Version)" type="text/javascript"></script>

    <!-- Modulo de Modal de Loading -->
    <script src="@Html.Raw(Model.WebUrl)/modules/shared/modalloading/modalLoading-module.js?v=@Html.Raw(Model.Version)" type="text/javascript"></script>
    <script src="@Html.Raw(Model.WebUrl)/modules/shared/modalloading/modalLoading-directive.js?v=@Html.Raw(Model.Version)" type="text/javascript"></script>
    <script src="@Html.Raw(Model.WebUrl)/modules/shared/modalloading/modalLoading-controller.js?v=@Html.Raw(Model.Version)" type="text/javascript"></script>

    <!-- Modulo de Modal de Sucesso -->
    <script src="@Html.Raw(Model.WebUrl)/modules/shared/modalSucesso/modalSucesso-module.js?v=@Html.Raw(Model.Version)" type="text/javascript"></script>
    <script src="@Html.Raw(Model.WebUrl)/modules/shared/modalSucesso/modalSucesso-directive.js?v=@Html.Raw(Model.Version)" type="text/javascript"></script>
    <script src="@Html.Raw(Model.WebUrl)/modules/shared/modalSucesso/modalSucesso-controller.js?v=@Html.Raw(Model.Version)" type="text/javascript"></script>

    <!-- Diretiva Notificação -->
    <script src="@Html.Raw(Model.WebUrl)/modules/shared/notificacao/notificacao-directive.js?v=@Html.Raw(Model.Version)" type="text/javascript"></script>

    <!-- Diretiva InformacaoPerfil -->
    <script src="@Html.Raw(Model.WebUrl)/modules/shared/informacaoperfil/informacaoperfil-directive.js?v=@Html.Raw(Model.Version)" type="text/javascript"></script>
    <script src="@Html.Raw(Model.WebUrl)/modules/shared/informacaoperfil/informacaoperfil-service.js?v=@Html.Raw(Model.Version)" type="text/javascript"></script>

    <!-- Diretiva SugestaoPublicacao -->
    <script src="@Html.Raw(Model.WebUrl)/modules/shared/sugestaopublicacao/sugestaopublicacao-directive.js?v=@Html.Raw(Model.Version)" type="text/javascript"></script>
    <script src="@Html.Raw(Model.WebUrl)/modules/shared/sugestaopublicacao/sugestaopublicacao-service.js?v=@Html.Raw(Model.Version)" type="text/javascript"></script>
    
    <!-- Diretiva Publicacao -->
    <script src="@Html.Raw(Model.WebUrl)/modules/shared/publicacao/publicacao-directive.js?v=@Html.Raw(Model.Version)" type="text/javascript"></script>
    <script src="@Html.Raw(Model.WebUrl)/modules/shared/publicacao/publicacao-service.js?v=@Html.Raw(Model.Version)" type="text/javascript"></script>
    
    <!-- Diretiva SugestaoUsuario -->
    <script src="@Html.Raw(Model.WebUrl)/modules/shared/sugestaousuario/sugestaousuario-directive.js?v=@Html.Raw(Model.Version)" type="text/javascript"></script>
    <script src="@Html.Raw(Model.WebUrl)/modules/shared/sugestaousuario/sugestaousuario-service.js?v=@Html.Raw(Model.Version)" type="text/javascript"></script>
</body>
</html>